In [4]:
import numpy as np
import pandas as pd
from sklearn import metrics
%matplotlib inline
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
data = pd.read_csv('prices-split-adjusted.csv')

In [6]:
data

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [7]:
data.isnull().sum()

date      0
symbol    0
open      0
close     0
low       0
high      0
volume    0
dtype: int64

In [8]:
data = data.loc[(data['symbol'] == 'AMZN')]
data = data.drop(columns=['symbol'])
data = data[['date', 'open', 'close', 'low', 'volume', 'high']]
data

              date        open       close         low      volume        high
284     2010-01-04  136.250000  133.899994  133.139999   7599900.0  136.610001
751     2010-01-05  133.429993  134.690002  131.809998   8851900.0  135.479996
1219    2010-01-06  134.600006  132.250000  131.649994   7178800.0  134.729996
1687    2010-01-07  132.009995  130.000000  128.800003  11030200.0  132.320007
2155    2010-01-08  130.559998  133.520004  129.029999   9830500.0  133.679993
...            ...         ...         ...         ...         ...         ...
848799  2016-12-23  764.549988  760.590027  757.989990   1976900.0  766.500000
849299  2016-12-27  763.400024  771.400024  761.200012   2627400.0  774.650024
849799  2016-12-28  776.250000  772.130005  770.500000   3279100.0  780.000000
850299  2016-12-29  772.400024  765.150024  760.849976   3153500.0  773.400024
850799  2016-12-30  766.469971  749.869995  748.280029   4125300.0  767.400024

[1762 rows x 6 columns]

In [9]:
data.shape

(1762, 6)

In [ ]:
plt.scatter(data.date, data.close, color='blue')
plt.xlabel("Time")
plt.ylabel("Close")
plt.show()

In [ ]:
dataset.shape

In [ ]:
data['date'] = pd.to_datetime(data.date)

In [ ]:
data.head()

In [ ]:
data['close'].plot(figsize=(16, 8))

In [ ]:
x1 = data[['open', 'high', 'low', 'volume']]
y1 = data['close']

In [ ]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, random_state = 0)

In [ ]:
x1_train.shape

In [ ]:
x1_test.shape

In [ ]:
regression = LinearRegression()

In [ ]:
regression.fit(x1_train, y1_train)

In [ ]:
print(regression.coef_)

In [ ]:
print(regression.intercept_)

In [ ]:
predicted = regression.predict(x1_test)

In [ ]:
print(x1_test)

In [ ]:
predicted.shape

In [ ]:
dframe = pd.DataFrame(y1_test, predicted)
dfr = pd.DataFrame({'Actual_Price':y1_test, 'Predicted_Price':predicted})
print(dfr)

In [ ]:
dfr.head(10)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
regression.score(x1_test, y1_test)

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y1_test, predicted))
print('Mean Squared Error:', metrics.mean_squared_error(y1_test, predicted))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y1_test, predicted)))

In [ ]:
x2 = dfr.Actual_Price.mean()
y2 = dfr.Predicted_Price.mean()
Accuracy1 = x2/y2*100
print("The accuracy of the model is " , Accuracy1)

In [ ]:
plt.scatter(dfr.Actual_Price, dfr.Predicted_Price,  color='red')
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")

plt.show()